<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>info</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <img  id="imagem" src="Modern_Brain_Technology_Logo-removebg-preview.png" alt="">
    <a href="https://github.com/Brainmaind">
        <img id = "imagem2" src="download-removebg-preview (1).png" alt="">
    </a>
    
    <div class="container">
        <h1>Formulário de cadastro de Pacientes</h1>
        <form action="/info" method="post">
            <label for="username">Usuário:</label>
            <input type="text" id="username" name="username">
            <label for="idade">Idade:</label>
            <input type="text" name="idade" id="idade">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email">
            <button type="submit">Enviar</button>
        </form>
    </div>
</body>
</html>